{
  "openapi": "3.1.0",
  "info": {
    "title": "Elastly API",
    "version": "1.0.0",
    "description": "Elastly public API v1: price serving, canonical ingest, write-back claims and webhooks. Authenticate every request with an API key: Authorization: Bearer elastly_live_...",
    "contact": {
      "name": "Elastly",
      "url": "https://elastly.io",
      "email": "support@elastly.io"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://app.elastly.io"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "prices",
      "description": "Price serving: batch, idempotent, explainable."
    },
    {
      "name": "ingest",
      "description": "Staged canonical ingest drained by the sync engine."
    },
    {
      "name": "writebacks",
      "description": "Claim and acknowledge approved price write-backs."
    }
  ],
  "paths": {
    "/api/v1/prices": {
      "post": {
        "operationId": "getPrices",
        "tags": [
          "prices"
        ],
        "summary": "Price up to 100 lines in one idempotent call",
        "description": "Requires an erp-scope key. Every response line is either a priced output (ok: true) or a typed per-line error (ok: false); a single bad line never fails the batch.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique key for this logical request. Retries must reuse the same key; a replay returns the stored response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PricesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-line results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ingest/batches": {
      "post": {
        "operationId": "createIngestBatch",
        "tags": [
          "ingest"
        ],
        "summary": "Open a staged ingest batch",
        "description": "Requires a connector-scope key and a connected push connector.",
        "responses": {
          "201": {
            "description": "The opened batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCreatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ingest/batches/{batchId}/records": {
      "post": {
        "operationId": "stageIngestRecords",
        "tags": [
          "ingest"
        ],
        "summary": "Stage up to 1000 canonical records into an open batch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StageRecordsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Records staged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageRecordsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ingest/batches/{batchId}/commit": {
      "post": {
        "operationId": "commitIngestBatch",
        "tags": [
          "ingest"
        ],
        "summary": "Commit a batch; the sync engine drains it",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The enqueued sync job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitBatchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ingest/batches/{batchId}": {
      "get": {
        "operationId": "getIngestBatchStatus",
        "tags": [
          "ingest"
        ],
        "summary": "Batch status, including skippedOverCap",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/writebacks/claim": {
      "post": {
        "operationId": "claimWritebacks",
        "tags": [
          "writebacks"
        ],
        "summary": "Lease pending price write-backs for this connector",
        "description": "Requires a connector-scope key. Each task carries leaseUntil; acks after the lease are counted as expired, never applied.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimWritebacksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leased tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimWritebacksResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/writebacks/ack": {
      "post": {
        "operationId": "ackWritebacks",
        "tags": [
          "writebacks"
        ],
        "summary": "Acknowledge applied or failed write-backs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritebackAckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ack outcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckWritebacksResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Error envelope with a stable machine-readable code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Elastly API key. Scopes: erp (price serving), connector (ingest + write-backs), storefront."
      }
    },
    "schemas": {
      "ApiError": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "readOnly": true,
        "type": "object",
        "properties": {
          "error": {
            "readOnly": true,
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "unauthorized",
                  "forbidden",
                  "feature_not_enabled",
                  "subscription_inactive",
                  "rate_limited",
                  "monthly_volume_exceeded",
                  "invalid_request",
                  "invalid_json",
                  "unknown_product",
                  "unknown_customer",
                  "no_cost_basis",
                  "fx_rate_unavailable",
                  "fx_rate_stale",
                  "idempotency_key_reused",
                  "idempotency_key_in_flight",
                  "batch_not_found",
                  "batch_already_committed",
                  "batch_entity_order_violation",
                  "entity_not_supported",
                  "writeback_lease_expired",
                  "internal_error"
                ]
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message",
              "requestId"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "PricesRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "lines": {
            "minItems": 1,
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "customerId": {
                  "type": "string",
                  "minLength": 1
                },
                "customerExternalId": {
                  "type": "string",
                  "minLength": 1
                },
                "productSku": {
                  "type": "string",
                  "minLength": 1
                },
                "productExternalId": {
                  "type": "string",
                  "minLength": 1
                },
                "quantity": {
                  "default": 1,
                  "type": "number",
                  "exclusiveMinimum": 0,
                  "maximum": 1000000
                },
                "orderValueCents": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 1000000000000
                },
                "orderTotalQuantity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100000000
                },
                "urgency": {
                  "type": "string",
                  "enum": [
                    "standard",
                    "expedited",
                    "rush"
                  ]
                }
              }
            }
          }
        },
        "required": [
          "lines"
        ]
      },
      "PricesResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "lines": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "readOnly": true,
                  "type": "object",
                  "properties": {
                    "priceCents": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "pricingDecisionId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "reason": {
                      "type": "array",
                      "items": {
                        "readOnly": true,
                        "type": "object",
                        "properties": {
                          "param": {
                            "type": "string"
                          },
                          "marginDeltaBps": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "param",
                          "marginDeltaBps"
                        ]
                      }
                    },
                    "reasonSummary": {
                      "type": "string"
                    },
                    "explanation": {
                      "readOnly": true,
                      "type": "object",
                      "properties": {
                        "short": {
                          "type": "string"
                        },
                        "drivers": {
                          "type": "array",
                          "items": {
                            "readOnly": true,
                            "type": "object",
                            "properties": {
                              "param": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "points": {
                                "type": "number"
                              },
                              "direction": {
                                "type": "string",
                                "enum": [
                                  "up",
                                  "down"
                                ]
                              }
                            },
                            "required": [
                              "param",
                              "label",
                              "points",
                              "direction"
                            ]
                          }
                        },
                        "stance": {
                          "type": "string",
                          "enum": [
                            "hold_firm",
                            "at_floor",
                            "held_near_last",
                            "flexible",
                            "standard"
                          ]
                        },
                        "marginPct": {
                          "type": "number"
                        },
                        "targetMarginPct": {
                          "type": "number"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "high",
                            "medium",
                            "low"
                          ]
                        }
                      },
                      "required": [
                        "short",
                        "drivers",
                        "stance",
                        "marginPct",
                        "targetMarginPct",
                        "confidence"
                      ]
                    },
                    "guardrailsApplied": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence": {
                      "type": "string",
                      "enum": [
                        "high",
                        "medium",
                        "low"
                      ]
                    },
                    "confidenceScore": {
                      "type": "number"
                    },
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "priceCents",
                    "currency",
                    "pricingDecisionId",
                    "reason",
                    "reasonSummary",
                    "explanation",
                    "guardrailsApplied",
                    "confidence",
                    "confidenceScore",
                    "ok"
                  ]
                },
                {
                  "readOnly": true,
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "code": {
                      "default": "internal_error",
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "forbidden",
                        "feature_not_enabled",
                        "subscription_inactive",
                        "rate_limited",
                        "monthly_volume_exceeded",
                        "invalid_request",
                        "invalid_json",
                        "unknown_product",
                        "unknown_customer",
                        "no_cost_basis",
                        "fx_rate_unavailable",
                        "fx_rate_stale",
                        "idempotency_key_reused",
                        "idempotency_key_in_flight",
                        "batch_not_found",
                        "batch_already_committed",
                        "batch_entity_order_violation",
                        "entity_not_supported",
                        "writeback_lease_expired",
                        "internal_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "param": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "message"
                  ]
                }
              ]
            }
          }
        },
        "required": [
          "lines"
        ]
      },
      "StageRecordsRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "const": "product"
              },
              "records": {
                "minItems": 1,
                "maxItems": 1000,
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "sku": {
                      "type": "string",
                      "minLength": 1
                    },
                    "externalId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "name": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    },
                    "costCents": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "currentPriceCents": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "mapCents": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "floorCents": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "ceilingCents": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "isActive": {
                      "type": "boolean"
                    },
                    "inStock": {
                      "type": "boolean"
                    },
                    "stockOnHand": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "brand": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "attributes": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "sku",
                    "name",
                    "category",
                    "costCents",
                    "currentPriceCents"
                  ]
                }
              }
            },
            "required": [
              "entity",
              "records"
            ]
          },
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "const": "customer"
              },
              "records": {
                "minItems": 1,
                "maxItems": 1000,
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "externalId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "segment": {
                      "type": "string"
                    },
                    "region": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "country": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "creditTerms": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currency": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "isActive": {
                      "type": "boolean"
                    },
                    "attributes": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "name",
                    "externalId"
                  ]
                }
              }
            },
            "required": [
              "entity",
              "records"
            ]
          },
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "const": "quote"
              },
              "records": {
                "minItems": 1,
                "maxItems": 1000,
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "externalId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerExternalId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "outcome": {
                      "type": "string",
                      "enum": [
                        "open",
                        "won",
                        "lost"
                      ]
                    },
                    "currency": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "exchangeRate": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                    },
                    "decidedAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                    },
                    "lostReason": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lines": {
                      "minItems": 1,
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productSku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "quantity": {
                            "type": "number",
                            "exclusiveMinimum": 0
                          },
                          "costCents": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "quotedPriceCents": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "pricingDecisionId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "elastlyQuotedPriceCents": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "salespersonPriceReason": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "attributes": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          }
                        },
                        "required": [
                          "productSku",
                          "quantity",
                          "costCents",
                          "quotedPriceCents",
                          "pricingDecisionId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "externalId",
                    "customerExternalId",
                    "outcome",
                    "createdAt",
                    "lines"
                  ]
                }
              }
            },
            "required": [
              "entity",
              "records"
            ]
          },
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "const": "order"
              },
              "records": {
                "minItems": 1,
                "maxItems": 1000,
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "externalId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "customerExternalId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "sourceQuoteExternalId": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "exchangeRate": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "soldAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                    },
                    "lines": {
                      "minItems": 1,
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productSku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "quantity": {
                            "type": "number",
                            "exclusiveMinimum": 0
                          },
                          "costCents": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "soldPriceCents": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "attributes": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          }
                        },
                        "required": [
                          "productSku",
                          "quantity",
                          "costCents",
                          "soldPriceCents"
                        ]
                      }
                    }
                  },
                  "required": [
                    "externalId",
                    "currency",
                    "soldAt",
                    "lines"
                  ]
                }
              }
            },
            "required": [
              "entity",
              "records"
            ]
          }
        ]
      },
      "StageRecordsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "readOnly": true,
        "type": "object",
        "properties": {
          "staged": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "staged"
        ]
      },
      "BatchCreatedResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "readOnly": true,
        "type": "object",
        "properties": {
          "batchId": {
            "type": "string"
          },
          "connectorId": {
            "type": "string"
          }
        },
        "required": [
          "batchId",
          "connectorId"
        ]
      },
      "CommitBatchResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "readOnly": true,
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        },
        "required": [
          "jobId"
        ]
      },
      "BatchStatusResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "readOnly": true,
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "open",
              "committed",
              "draining",
              "drained",
              "failed"
            ]
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "recordCount": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "skippedOverCap": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "status",
          "entities",
          "recordCount",
          "skippedOverCap",
          "error"
        ]
      },
      "ClaimWritebacksRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "limit": {
            "default": 100,
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 500
          }
        }
      },
      "ClaimWritebacksResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "readOnly": true,
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "readOnly": true,
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "productSku": {
                  "type": "string"
                },
                "productExternalId": {
                  "type": "string"
                },
                "priceCents": {
                  "type": "number"
                },
                "currency": {
                  "type": "string"
                },
                "exchangeRateToBase": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "reasonSummary": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "pricingDecisionId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "leaseUntil": {
                  "type": "string"
                },
                "target": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              },
              "required": [
                "id",
                "productSku",
                "productExternalId",
                "priceCents",
                "currency",
                "leaseUntil",
                "target"
              ]
            }
          }
        },
        "required": [
          "tasks"
        ]
      },
      "WritebackAckRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "results": {
            "minItems": 1,
            "maxItems": 500,
            "type": "array",
            "items": {
              "readOnly": true,
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "ok": {
                  "type": "boolean"
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "ok"
              ]
            }
          }
        },
        "required": [
          "results"
        ]
      },
      "AckWritebacksResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "readOnly": true,
        "type": "object",
        "properties": {
          "applied": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "failed": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "expired": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "applied",
          "failed",
          "expired"
        ]
      }
    }
  }
}
